{% extends 'base.html' %}



{% block contenido %}
<h1>Juegos CARRERAS</h1>
<div class="container">
  <div class="row">
    
      {% for juego in juegos_carreras %}
 
    
      <div class="col-12 col-sm-6 col-md-4 mb-4">
        <div class="card">
          <a href= "{% url 'juegos_show' id=juego.id %}">
          <img src="{{ juego.imagen.url }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h2 class="card-title"> {{juego.nombre}} </h2>
            </a>
            <p class="card-text">{{ juego.descripcion }}</p>
            <a href="{% url 'agregar_al_carrito' juego.id %}" class="btn btn-primary">Añadir al carrito</a>
          </div>
        </div>
      </div>
    
  
      {% endfor %}
    
  </div>
</div>
<footer>

  <h5> @Copyright Lhia Cadiz /Juan Miranda </h5>

</footer>
{% endblock %}