{% extends 'base.html' %}



{% block css %}
{% endblock %}


{% block contenido %}
<div class = "container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    
                    <h1 class="text-center">Nuevo Juego</h1>
                    <a href="{% url 'listado_juegos' %}" class="btn btn-dark">Volver</a>
    
                    {% if messages %}
                    {% for message in messages %}
                      <div class="alert alert-{{message.tags}} alert-dismissible fade show" role='alert'>
                        {{ message }}
                        <button type= "button" class="btn-close" data-bs-dissmiss="alert" aria-label="close"></button>
                      </div>
                    {% endfor %}
                    {% endif %}
    
                    <div class="card">
                        <div class="card-body">
                            <form action="" id="formulario" method="POST" enctype="multipart/form-data">
                              {% csrf_token %}
    
                              
                              <div class="mb-3" id="div-cargo">
                                <label for="" class="form-label">Codigo</label>
                                <input type="text" class="form-control" id="codigo_invent"  name="codigo_invent" placeholder="">
                              </div>
    
                              <div class="mb-3">
                                <label for="" class="form-label">NOMBRE</label>
                                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="" required>
                                
                              </div>
    
                              <div class="mb-3" id="div-cargo">
                                <label for="Descripcion" class="form-label">Descripcion</label>
                                <textarea name="descripcion" class="form-control" id="Descripcion"  cols="10" row="5" placeholder=""></textarea>
                              </div>
    
                              <div class="mb-3">
                                <label for="" class="form-label">Categoria</label>
                                <select class="form-select" aria-label="Default select example" name="categoria">
                                {% for categoria in categorias %}
                                    <option value="{{ categoria.id }}">{{ categoria.nombre }}</option>
                                {% endfor %}
                                </select>
                              </div>
                              <div class="mb-3">
                                <label for="" class="form-label">Imagen</label>
                                <input type="file" class="form-control" id="imagen"  name="imagen" >
                              </div>
                              <div class="mb-3">
                              <label for="id_precio"class="form-label">Precio : </label>
                              <input type="number" id="id_precio" name="precio" min="0">
                              </div>
                              <div class="d-grid">
                                  <button type="submit" class="btn btn-outline-primary">GUARDAR</button>
                              </div>
                            </form>
                        </div>
                      </div>
                </div>
               
            </div>
        </div>
{% endblock %}

