{% extends 'base.html' %}

{% block css %}
    
{% endblock %}


{% block contenido %}

<center>
<h1>Juegos {{ juego.nombre }}</h1>
<br>
  <div class="container">
      <div class="col-12 col-sm-6 col-md-6">
        <div class="card-header">

          <img src="{{juego.imagen.url}}" class="card-img-top" alt="" class="...">
        <div class="card-body">
          <br>
          <h2 class="card-title">{{ juego.nombre }}</h2>
          <br>
          <p class="card-text">{{ juego.descripcion }}</p>
          <br>
          {%if juego.id == 62%}
          <a href="{% url 'detalle_juego_api' %}" class="boton2">Personajes</a>
          {% endif %}
          {%if juego.id == 63%}
          <a href="{% url 'personajes_juego_api' %}" class="boton2">Personajes</a>
          {% endif %}
        </div>
      </div>
    <div>
    <h2>Valor del juego $ {{ juego.precio }}</h2>
    <a href="{% url 'agregar_al_carrito' juego.id %}" class="btn btn-primary">Añadir al carrito</a>
    </div>
  </center>
  
<footer>

  <h5> @Copyright Lhia Cadiz /Juan Miranda </h5>
  
</footer>
{% endblock %}

