{% extends 'base.html' %}
{% load static %}


{% block contenido %}


<h1>Detalle Carrito- {{ perfil }}</h1>

<div class = "container">
    <div class= "row">
        {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{message.tags}} alert-dismissible fade show" role='alert'>
            {{ message }}
            <button type= "button" class="btn-close" data-bs-dissmiss="alert" aria-label="close"></button>
          </div>
        {% endfor %}
        {% endif %}
        <table class="table">
            <thead>
                <tr>
                <th scope="col">ID</th>
                <th scope="col">NOMBRE</th>
                <th scope="col">IMAGEN</th>
                <th scope="col">CATEGORIA</th>
                <th scope="col">PRECIO</th>
                <th scope="col">CANTIDAD</th>
                <th scope="col"></th>
                
                </tr>
            </thead>
        <tbody>
            {% for juego in carrito %}
            <tr>
                <th scope="row">{{ juego.juego.id }}</th>
                <td>
                    <a href= "{% url 'juegos_show' id=juego.juego.id %}"> {{ juego.juego.nombre }} </a>
                    </td>
                <td>
                    {% if juego.juego.imagen %}
                    <img src="{{ juego.juego.imagen.url }}" alt="{{ juego.juego.nombre }}" width='100px'>
                    {% else %}
                    <p>-</p>
                    {% endif %}

                </td>
                <td>{{ juego.juego.categoria.nombre }}</td>
                <td>$ {{ juego.juego.precio }}</td>
                <td>{{ juego.cantidad }}</td>
                
                <td><a href="{% url 'eliminar_del_carrito' juego.juego.id %}">Eliminar del carrito</a></td>
                </tr>
            {% endfor %}
            
            </div>
            
        </tbody>
        
        </table>
        <table class="table">
            <th scope="col"></th>
            <th scope="col">Total a Pagar</th>
            <th scope="col">$ {{ total }}</th>
        </table>
        
        <!-- Mostrar el total y el enlace de pago -->
        <div class="text-end">
            
            <a href="{% url 'pago' %}" class="btn btn-primary">Finalizar La Compra</a>
        </div>
    </div>
</div>
<footer>

    <h5> @Copyright Lhia Cadiz /Juan Miranda </h5>
  
  </footer>
  {% endblock %}
