{% extends 'base.html' %}

{% block css %}   
{% endblock %}

{% block contenido %}


<h1>listado de usuarios - {{ request.user.username }} </h1>

<div class = "container">
        {% if request.user.username == 'admin'%}
            <a href="{% url 'registro' %}" class="btn btn-primary">Crear Nuevo Usuario</a>
        {% endif %}
        
    <div class= "row">
        {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{message.tags}} alert-dismissible fade show" role='alert'>
            {{ message }}
            <button type= "button" class="btn-close" data-bs-dissmiss="alert" aria-label="close"></button>
          </div>
        {% endfor %}
        {% endif %}
        <table class="table">
            <thead>
                <tr>
                <th scope="col">ID</th>
                <th scope="col">NOMBRE USUARIO</th>
                <th scope="col">EMAIL</th>
                <th scope="col">Rol</th>
                {%if request.user.username == 'admin'%}
                <th scope="col"></th>
                <th scope="col"></th>
                {% endif %}
                </tr>
            </thead>
        <tbody>
            {% for usuario in user %}
            <tr>
                <th scope="row">{{usuario.id}}</th>
                <td>{{usuario.username}}</td>
                <td>{{usuario.email}}</td>
                <td>{% if usuario.userprofile.role %}
                {{usuario.userprofile.role}}
                {% else %}
                    Sin rol asignado
                {% endif %}
                </td>
                {%if request.user.username == 'admin'%}
                <td><a href= "{% url 'editar_datos' usuario.id %}">Editar</a></td>
                <td><a href= "{% url 'eliminar_usuario' usuario.id %}">Eliminar</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</div>
{% endblock %}

